
body {
    background-image: url("/static/bg.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px; /* Adjust the width as needed */
}
label {
    width: 150px; /* Adjust the width as needed */
    text-align: justify;
    margin-right: 10px;
    font-weight: bold;
}
input {
    width: 125px; /* Adjust the width as needed */
    padding: 1px;
}

div {
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
}

input[type="text"] {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

select {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-size: 16px;
}

#container{
    
    text-align: center;
}

#SoftSkillsRating{
    width: 125px;
}

#project_count{
    width: 150px;
}

#aptitude_score{
    width: 125px;
}