
body {
    background-image: url("/static/bg.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px; /* Adjust the width as needed */
}
label {
    width: 150px; /* Adjust the width as needed */
    text-align: justify;
    margin-right: 10px;
    font-weight: bold;
}
input {
    width: 125px; /* Adjust the width as needed */
    padding: 1px;
}

div {
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
}

input[type="text"] {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

select {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-size: 16px;
}

#container{
    
    text-align: center;
}

#SoftSkillsRating{
    width: 125px;
}

#project_count{
    width: 150px;
}

#aptitude_score{
    width: 125px;
}

.fixed-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.stamp-wrapper {
    display: flex;
    align-items: center;
  }

  .prediction-text {
    margin-right: 10px; /* Adjust as needed */
  }

.stamp-container {
    position: absolute;
    top: 65%;
    left: 57%;
    transform: translate(-50%, -50%) rotate(-10deg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust height as needed */
    z-index: 1; 
  }
  
  .stamp {
    animation: enterAnimation 0.75s ease-in-out 1s forwards;
    transform: scale(0.01) rotate(-45deg); /* Initial scale and rotation, adjust as needed */
  }
  
  @keyframes enterAnimation {
    0% {
      opacity: 0;
      transform: scale(3) rotate(-45deg); /* Large scale and rotation, adjust as needed */
    }
    100% {
      opacity: 1;
      transform: scale(1) rotate(0); /* Final scale and rotation */
    }
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }