<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Placement Prediction</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap">
  <link rel="stylesheet" type='text/css' href="{{url_for('static', filename='styleit.css')}}">
</head>

<body>
 <div class="login" align="center">
    <br>
    <br>
    <br>
    <br>
    <br>
	<h1 style="font-family: 'Pacifico', cursive;">Placement Prediction</h1>
    <form id="myform" action="/result"method="POST">
     <!-- Main Input For Receiving Query to our ML -->
     <div>
        <label for="ssc">Enter SSC Marks :</label>
        <input type="number" id="ssc" name="ssc" placeholder="e.g. 86.45" step="0.01" min="0" max="100" required>
    </div>
    <div>
        <label for="hsc">Enter HSC Marks :</label>
        <input type="number" id="hsc" name="hsc" placeholder="e.g. 86.43" step="0.01" min="0" max="100" required>
    </div>
    <div>
        <label for="cgpa">Enter CGPA :</label>
        <input type="number" id="cgpa" name="cgpa" placeholder="(out of 10 e.g. 8.4)" step="0.01" min="0" max="10" required>
    </div>
    <div>
        <label for="project_count">Project Count :</label>
        <input type="number" id="project_count" name="project_count" placeholder="e.g. 1,2.." step="1" min="0" required>
    </div>

    <div>
        <label for="SoftSkillsRating">Soft Skills Rating :</label>
        <input type="number" id="SoftSkillsRating" name="SoftSkillsRating" placeholder="(out of 5 e.g. 4.8)" step="0.1" min="0" max="5" required>
    </div>

    <div>
        <label for="internship_count">Internship Count :</label>
        <input type="number" id="internship_count" name="internship_count" placeholder="e.g. 1,2.." step="1" min="0" required>
    </div>
    <div>
        <label for="aptitude_score">Aptitude Test Score :</label>
        <input type="number" id="aptitude_score" name="aptitude_score" placeholder="(out of 100 e.g. 64.8)" step="0.1" min="0" max="100" required>
    </div>
    <div>
        <label for="workshop_attended">Workshop Attended :</label>
        <input type="number" id="workshop_attended" name="workshop_attended" placeholder="e.g. 1,2.." step="1" min="0" required>
    </div>
    <div> Involved in Extracurricular Activities? :
        <select name="EActivities" id="EActivities" required>
            <option value=""></option>
            <option value="1">YES</option>
            <option value="0">NO</option>
        </select>
    </div>
    <div> Taken Placement Training? :
        <select name="PTraining" id="PTraining" required>
            <option value=""></option>
            <option value="1">YES</option>
            <option value="0">NO</option>
        </select>
    </div>
    <br>
    <div id="container">
        <button type="submit" id="submitbutton" class="btn btn-primary btn-block btn-large">Predict</button>
    </div>
    
    <button type="button" id="clearButton" class="fixed-button" onclick="clearInputs()">Clear Inputs</button>
 </div>
 
</form>


<script type="text/javascript" src="{{url_for('static', filename='script1.js')}}"></script>
</body>
</html>